body {
  background-color: rgb(179, 203, 239);
}

h1 {
  text-align: center;
  margin: 20px;
  margin-bottom: 100px;
}

.calculation {
  text-align: center;
  margin-top: 40px;
}

label {
  font-size: large;
  margin: 20px;
}

*:focus {
  outline: none;
}

input {
  border: none;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    text-align: auto;
  }
  input {
    border: none;
    padding: 7px;
    border-radius: 7px;
    margin: 10px;
  }
}